# Allow appdomain to get persist_camera_prop
get_prop(untrusted_app, persist_camera_prop)

# Allow appdomain to get camera_prop
get_prop(untrusted_app, camera_prop)
